.login_form 
{
    width: 60%;
    padding: 15px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.3);
}

.anchors
{
    text-decoration: none;
    color: white;
}