{% extends 'base.html' %}

{% block somtn %}
        {% if user.is_authenticated %}
                <h1>Hello User</h1>
                <table>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Adress</th>
                    <th>City</th>
                    <th>State</th>
                    <th>ZipCode</th>
                </table>
                {% if records %}
                    {% for i in records%}
                        <tr>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.last_name}}</td>
                            <td>{{ i.email}}</td>
                            <td>{{ i.phone}}</td>
                            <td>{{ i.address}}</td>
                            <td>{{ i.city}}</td>
                            <td>{{ i.state}}</td>
                            <td>{{ i.zipcode}}</td>
                            <td>{{ i.created_at }}</td>
                            <td>{{ i.id }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
        {% else %}
        <div class="login_form">
            
                <h2>Login</h2>
                {% if messages %}
                    {% for i in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ i }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checked">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-secondary"><a href="{% url 'register_user' %}" class="anchors">Register</a></button>
                </form>
            </div>
        {% endif %}
{% endblock %}
